// 颜色
$accentColor = #3eaf7c
$textColor = #2c3e50
$borderColor = #eaecef
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #42b983
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #DA5961

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 16rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px

.f1 {
  padding: 10px;
  font-size: 14px;
  letter-spacing: 3px;
  color: #4d4d4d;
  border-radius: 10px;
  line-height: 24px;
  background-color: #fff9e7;
}

.theme-default-content {
  max-width: 1000px !important;
}